@model ContactoViewModel
@{
	ViewData["Title"] = "Gracias";
}

<h1>Gracias @Model.getNombre() por ponerte en contacto conmigo</h1>
<p>Te respondere lo antes posible</p>
<div>
	<a asp-action="Index" asp-controller="Home">Volver a Home</a>
</div>
